
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.cdnfonts.com/css/cascadia-code');


@media screen and (max-width: 450px) {

    .header {
        gap: 5%; 
    }
    .logo {
    }
    .botoes-nav {
        display: none;
        margin: 1vh;
        font-size: 5px;
        transition: 0.2s;
        gap: 4.5vh;
    }
    .titulos {
        padding: 0;
        margin: 2vh;
        font-size: 4.5vh;
    }
}


@media (max-width: 450px) {
    .nav-botoes {
        display: none;
    }
    .logos-cnh {
        display: flex;
        align-items: center;
        width: 18vh;
        height: 18vh;
    }
    .conhec {
        margin-top: 2vh;
    }
}



* {
    font-family: 'Poppins';
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}    

html {
    scroll-behavior: smooth;
}    


body {
    overflow-x: hidden;
    user-select: none;
    cursor: default;
    font-size: 100%;
    background: #201b2c;
}    

section {
    min-height: 80vh;
}    


.header {
    display: flex;
    gap: 25%;
    box-shadow: 0px 0px 50px #1b1725;
}    

.logo {
    font-size: 70px;
    font-family: 'Roboto Mono';
    color: #5d00ff;
    text-shadow: 0px 0px 15px #1b1725;
}

.nav-botoes {
    font-family: 'Poppins'; 
    gap: 10vh;
    font-size: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}    

.botoes-nav {
    font-size: 15px;
    transition: 1s;
    color: #77ffc0;
}    

.botoes-nav:hover {
    transform: scale(1.10);
    transition: 0.6s;
    color: #61d29d;
    text-decoration: underline;
    text-underline-offset: 10px;
    
}    

.section-contatos {
    margin-top: 10%;
    display: flex;
    gap: 20%;
}    


.section-contatos-left {
    min-height: 80vh;
    display: flex;
    justify-content: left;

}    


span {
    font-family: 'cascadia code', monospace;
    font-style: normal;
    font-weight: 500;

}    

.texto-eu {
    text-shadow: 0px 0px 5px #1b1725;
    text-align: center;
    white-space: nowrap;
    font-family: 'cascadia code', monospace;
    font-style: normal;
    font-weight: 400;
    color: #e9e9e9;
    font-size: 3rem;
    margin: 10vh;
    border-right: 2px solid #00ff88;
    animation: blinkCursor 500ms infinite, typing 4s 4s steps(35) normal both;
    overflow: hidden;
}    

@keyframes typing {
    from {
        width: 0;
    }    
    to {
        width: 80%;
    }    

}    


@keyframes blinkCursor {

    from {
        border-right-color: transparent;
    }    
    
    to { 
        border-right-color: #00ff88;
    }    
}    


.section-contatos-right {
    min-height: 80vh;
    display: flex;
    justify-content: right;

}    

.fundo-contatos {
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    color: rgb(221, 221, 221);
    background: #2f2841;
    border-radius: 15px;
    width: 50vh;
    height: 50vh;
    margin: 5%;
    box-shadow: 0px 10px 40px #0000006c;
}    

.logos-ctts {
    width: 3vh;
    height: 3vh;
    display: flex;
    align-items: center;
}    


.botoes-contatos {
    font-size: 20px;
    display: flex;
    align-items: center;
    transition: 1s;
    margin: 1.5vh;
    width: 50%;
    height: 7vh;
    padding: 2vh;
    gap: 1vh;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #00ff8052;
    color: #2b134b;
    background-color: #00ff88;
}    
.botoes-contatos:hover {
    transform: scale(1.10);
    transition: 0.6s;
    color: #00ff88;
    box-shadow: 0px 0px 15px #201b2c;
    background-color: #2b134b;
}    


.titulos {
    margin: 2vh;
    font-family: 'Poppins';
    color: #77ffc0;
    text-shadow: 0px 0px 5px #1b1725;
    font-size: 5.5vh;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 1vh;
}    

.fundo-sobremim {
    color: rgb(221, 221, 221);
    background-color: #2f2841;
    margin: 10vh;
    border-radius: 50px;
    box-shadow: 0px 10px 40px #00000056;
}    

.section-sobre-mim {
    min-height: 80vh;
    display: flex;
    justify-content: center;
}    

.section-conhecimentos {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    text-align: right;
}    


.conhecimentos {
    order: 5;
    padding: 1rem;
    gap: 5rem;

}    

.logos-cnh {
    width: 20vh;
    height: 20vh;
    padding: 0.5rem;
}    

.fundo-footer {
    transition: 1s;
    background: #1b1725;
    height: 10vh;
    display: flex;
    align-items: center;
}    

.txt-footer {

    font-family: Poppins;
    color: white;
    font-size: 3vh;
    margin: 100px;
}    











body::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
}
  
body::-webkit-scrollbar-track {
    background: rgb(17, 17, 17);        /* color of the tracking area */
}
  
body::-webkit-scrollbar-thumb {
    background-color: rgb(41, 40, 40);    /* color of the scroll thumb */
    border-radius: 5px;       /* roundness of the scroll thumb */
    border: 0px solid rgb(17, 17, 17);  /* creates padding around scroll thumb */
}

